<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: true}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: false, backMenu: true, backAdmin: false, backToMonth: false, id: null}) %>
  <div class="container-top">
    <div class="area">
      <div class="items">
        <% userlist.forEach(function(user){ %>
        <a class="wow fadeIn" href="admin/<%= user.id %>"><%= user.name %></a>
        <% }) %>
      </div>
    </div>
    <div class="area_divide"></div>
    <div class="area">
      <div class="items">
        <% parttimeuserlist.forEach(function(user){ %>
          <a class="wow fadeIn" href="admin/<%= user.id %>"><%= user.name %></a>
          <% }) %>
        </div>
    </div>
  </div>
</body>
<%- include("./common/javascripts.ejs") %>

</html>