<!DOCTYPE html>
<html>

<head>
    <title><%= message %>(<%= error.status %>)</title>
    <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
    <%- include("./common/header.ejs", {title: 'エラー', adminMenu: false, backMenu: true, backAdmin: false, backToMonth: false, id: null}) %>
    <div class="container-top">
        <div class="stacktrace">
            <% if (error.status === 404) { %>
            <p>指定されたページは存在しません。</p>
            <% } else if (error.status === 403) { %>
            <p>承認されていません。</p>
            <% }else{ %>
            <p>何らかのエラーが発生しました。管理者へお知らせください。</p>
            <% }; %>
            <div class="stacktrace-text">
                <p><%= message %></p>
            </div>
        </div>
    </div>
</body>

</html>