<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: true, backMenu: false, backAdmin: false, backToMonth: false, id: null}) %>
  <div class="container-top">
    <div class="area">
      <div class="items">
        <% userlist.forEach(function(user){ %>
        <a href="time/<%= user.id %>"><%= user.name %></a>
        <% }) %>
      </div>
    </div>
    <div class="area_divide"></div>
    <div class="area">
      <div class="items">
        <% parttimeuserlist.forEach(function(user){ %>
          <a href="time/<%= user.id %>"><%= user.name %></a>
          <% }) %>
        </div>
    </div>
  </div>

</body>

</html>