<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
  <div class="container-top">
    <%- include("./common/header.ejs", {addAdminMenu: true}) %>
    <div class="area">
      <h2>社員</h2>
      <div class="items">
        <% userlist.forEach(function(user){ %>
        <a href="time/<%= user.id %>"><%= user.name %></a>
        <% }) %>
      </div>
    </div>
    <div class="area">
      <h2>アルバイト</h2>
      <div class="items">
        <% parttimeuserlist.forEach(function(user){ %>
          <a href="time/<%= user.id %>"><%= user.name %></a>
          <% }) %>
        </div>
    </div>
  </div>

</body>

</html>