<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: true, backMenu: false, backAdmin: false, backToMonth: false, id: null}) %>
  <%
    let start;
    let end;
  %>
  <div class="container-top">
    <div class="area">
      <div class="items">
        <% userlist.forEach(function(user){ %>
        <% if ((user.starttime !== '出勤') && (user.endtime !== '退勤')){ %>
        <a class="item_end wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } else if (user.starttime !== '出勤') { %>
        <a class="item_start wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } else { %>
        <a class="item wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } %>
        <% }) %>
      </div>
    </div>
    <div class="area_divide"></div>
    <div class="area">
      <div class="items">
        <% parttimeuserlist.forEach(function(user){ %>
        <% if ((user.starttime !== '出勤') && (user.endtime !== '退勤')){ %>
        <a class="item_end wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } else if (user.starttime !== '出勤') { %>
        <a class="item_start wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } else { %>
        <a class="item wow fadeInUp" href="time/<%= user.id %>"><%= user.name %></a>
        <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</body>
<%- include("./common/javascripts.ejs") %>

</html>