<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: true, backMenu: false, backAdmin: false, backToMonth: false, id: null}) %>
  <div class="area-hosei">
    <div class="form-hosei">
      <form name="hoseiform" method="POST" action="/hosei/add">
        <div class="form-hosei-items">
          <dl class="form-hosei-item">
            <dt>名前</dt>
            <dd>
              <select name="id">
                <option value="" selected>名前選択</option>
                <% selectuserlist.forEach(function(user) { %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% }) %>
              </select>
            </dd>
          </dl>
          <dl class="form-hosei-item">
            <dt>補正対象日</dt>
            <dd><input type="text" class="flatpickr2" name="ymd_target" value="日付選択"></dd>
          </dl>
          <dl class="form-hosei-item">
            <dt>補正内容</dt>
            <dd><input type="text" name="message"></dd>
          </dl>
          </dl>
        </div>
      </form>
      <button class="hoseiarea__okbtn">登録</button>
      <button class="hoseiarea__ngbtn">キャンセル</button>
    </div>
  </div>
  <%
    let start;
    let end;
  %>
  <div class="container-top">
    <div class="area">
      <div class="items">
        <% userlist.forEach(function(user){ %>
        <% if ((user.time_start || user.time_start_upd) && (user.time_end || user.time_end_upd)){ %>
        <a class="item_end wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %> <%= user.time_start? user.time_start.slice(0,2):user.time_start_upd.slice(0,2) %>:<%= user.time_start? user.time_start.slice(-2):user.time_start_upd.slice(-2) %> - <%= user.time_end? user.time_end.slice(0,2):user.time_end_upd.slice(0,2) %>:<%= user.time_end? user.time_end.slice(-2):user.time_end_upd.slice(-2) %></a>
        <% } else if (user.time_start || user.time_start_upd) { %>
        <a class="item_start wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %> <%= user.time_start? user.time_start.slice(0,2):user.time_start_upd.slice(0,2) %>:<%= user.time_start? user.time_start.slice(-2):user.time_start_upd.slice(-2) %></a>
        <% } else { %>
        <a class="item wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %></a>
        <% } %>
        <% }) %>
      </div>
    </div>
    <div class="area_divide"></div>
    <div class="area">
      <div class="items">
        <% parttimeuserlist.forEach(function(user){ %>
        <% if ((user.time_start || user.time_start_upd) && (user.time_end || user.time_end_upd)){ %>
        <a class="item_end wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %> <%= user.time_start? user.time_start.slice(0,2):user.time_start_upd.slice(0,2) %>:<%= user.time_start? user.time_start.slice(-2):user.time_start_upd.slice(-2) %> - <%= user.time_end? user.time_end.slice(0,2):user.time_end_upd.slice(0,2) %>:<%= user.time_end? user.time_end.slice(-2):user.time_end_upd.slice(-2) %></a>
        <% } else if (user.time_start || user.time_start_upd) { %>
        <a class="item_start wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %> <%= user.time_start? user.time_start.slice(0,2):user.time_start_upd.slice(0,2) %>:<%= user.time_start? user.time_start.slice(-2):user.time_start_upd.slice(-2) %></a>
        <% } else { %>
        <a class="item wow fadeInUp" href="/time/<%= user.id %>"><%= user.name %></a>
        <% } %>
        <% }) %>
      </div>
    </div>
    <% if (hoseilist.length !== 0) { %>
    <div class="table-wrapper wow fadeInUp">
      <table class="table-content">
        <tr>
          <th>登録日付</th>
          <th>登録者</th>
          <th>補正対日付</th>
          <th>補正依頼内容</th>
          <th>補正者</th>
          <th>補正日付</th>
        </tr>
        <% hoseilist.forEach(function(hosei){ %>
        <tr>
          <td><%= hosei.ymd_irai.slice(0,4) + '/' + hosei.ymd_irai.slice(4,6) + '/' + hosei.ymd_irai.slice(-2) %></td>
          <td><%= hosei.u_id_users_name %></td>
          <td><%= hosei.ymd_target.slice(0,4) + '/' + hosei.ymd_target.slice(4,6) + '/' + hosei.ymd_target.slice(-2) %></td>
          <td><%= hosei.message %></td>
          <td><%= hosei.u_id_users_hosei_name? hosei.u_id_users_hosei_name: '' %></td>
          <td><%= hosei.ymd_hosei? hosei.ymd_hosei.slice(0,4) + '/' + hosei.ymd_hosei.slice(4,6) + '/' + hosei.ymd_hosei.slice(-2): '' %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <% } %>
    </div>
  <script>
    let hoseibtn = document.getElementsByClassName("header-hosei")[0];
    if (hoseibtn) {
      hoseibtn.addEventListener('click', function () {
      let hosei = document.getElementsByClassName("area-hosei")[0];
      hosei.style.visibility = "visible";
    });
    }
    let okdlbtn = document.getElementsByClassName("hoseiarea__okbtn")[0];
    let ngdlbtn = document.getElementsByClassName("hoseiarea__ngbtn")[0];
    let id = document.getElementsByName("id")[0];
    let ymd_target = document.getElementsByName("ymd_target")[0];
    let message = document.getElementsByName("message")[0];
    okdlbtn.addEventListener('click', function () {
      if ((id.value) && (ymd_target.value) && (message.value)) {
        document.hoseiform.submit();
      } else {
        if (id.value === '') {
          id.style.backgroundColor = "rgba(255, 0, 0, 0.3)";
        }
        if (ymd_target.value === '日付選択') {
          ymd_target.style.backgroundColor = "rgba(255, 0, 0, 0.3)";
        }
        if (message.value === '') {
          message.style.backgroundColor = "rgba(255, 0, 0, 0.3)";
        }
        return false;
      }
    });
    ngdlbtn.addEventListener('click', function () {
      id.value='';
      ymd_target.value = '日付選択';
      message.value = '';
      id.style.backgroundColor = "rgba(255, 255, 255, 1)";
      ymd_target.style.backgroundColor = "rgba(255, 255, 255, 1)";
      message.style.backgroundColor = "rgba(255, 255, 255, 1)";
      let hosei = document.getElementsByClassName("area-hosei")[0];
      hosei.style.visibility = "hidden";
    });

  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>