<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: true}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: false, backMenu: false, backAdmin: true, backToMonth: false, id: null}) %>
  <div class="container-top">
    <div class="area">
      <% if (yyyymmlist) { %>
          <div class="items">
            <% yyyymmlist.forEach(function(yyyymm){ %>
              <a href="<%= user.id %>/<%= yyyymm.slice(0,4) + yyyymm.slice(-2) %>"><%= yyyymm %></a>
            <% }) %>
          </div>
      <% } %>
    </div>
  </div>
</body>

</html>