<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: true}) %>
</head>

<body>
  <%- include("./common/header.ejs", {adminMenu: false, backMenu: false, backAdmin: false, backToMonth: true, id: userinfo.id}) %>
  <div class="container-top">
    <form method="POST" name="timelistform" action="/admin/<%= userinfo.id %>/<%= yyyymm %>">
      <div class="area-btn">
        <p id="updatebtn" class="monthtimebtn mt-30">更新</p>
        <p id="initbtn" class="monthtimebtn mt-30">元に戻す</p>
      </div>
      <div class="area-form">
        <% if (timelist) { %>
        <div class="table-wrapper">
          <table class="table-content">
            <tr>
              <th>日付</th>
              <th>出勤時間</th>
              <th>退勤時間</th>
              <th>出勤時間<br>(修正)</th>
              <th>退勤時間<br>(修正)</th>
              <th>賄</th>
              <th>朝<br>遅</th>
              <th>支給時間</th>
            </tr>
            <% timelist.forEach(function(timeinfo){ %>
            <% if ((timeinfo.youbi === '日') || (timeinfo.youbi === '祝')) { %>
            <tr class="bgc-red">
              <% } else if (timeinfo.youbi === '土') { %>
            <tr class="bgc-blue">
              <% } else { %>
            <tr class="bgc-normal">
              <% } %>
              <td>
                <%= timeinfo.yyyymmddyoubi %>
              </td>
              <td>
                <%= timeinfo.start %>
              </td>
              <td>
                <%= timeinfo.end %>
              </td>
              <td><input class="startupd" type="text" name="startupd" value="<%= timeinfo.startupd %>"></td>
              <td><input class="endupd" type="text" name="endupd" value="<%= timeinfo.endupd %>"></td>
              <%
                let makanaichecked;
                if (timeinfo.makanai === 'on') {
                  makanaichecked = "checked";
                }
              %>
              <td><input class="makanai" type="checkbox" name="_makanai" value="on" <%= makanaichecked %>></td>
              <%
                let asaosochecked;
                if (timeinfo.asaoso === 'on') {
                  asaosochecked = "checked";
                }
              %>
              <td><input class="asaoso" type="checkbox" name="_asaoso" value="on" <%= asaosochecked %>></td>
              <td><input class="paytime" type="text" name="paytime" value="<%= timeinfo.paytime %>"></td>
              <input type="hidden" name="yyyymmdd" value="<%= timeinfo.yyyymmdd %>">
              <input type="hidden" name="start" value="<%= timeinfo.start %>">
              <input type="hidden" name="end" value="<%= timeinfo.end %>">
              <input type="hidden" name="makanai" value="off">
              <input type="hidden" name="asaoso" value="off">
            </tr>
            <% }) %>
        </div>
        </table>
        <% } %>
      </div>
    </form>
  </div>
  <script>
    let updbtn = document.getElementById("updatebtn");
    updbtn.addEventListener('click', function () {
      for (let i = 0; i < document.timelistform.makanai.length; i++) {
        if (document.timelistform._makanai[i].checked) {
          document.timelistform.makanai[i].value = "on";
        }
      }
      for (let i = 0; i < document.timelistform.asaoso.length; i++) {
        if (document.timelistform._asaoso[i].checked) {
          document.timelistform.asaoso[i].value = "on";
        }
      }
      document.timelistform.submit();
    });
    let initbtn = document.getElementById("initbtn");
    initbtn.addEventListener('click', function () {
      document.location.reload();
    });
  </script>
</body>

</html>