<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/stylesheets.ejs", {isAdmin: true}) %>
</head>

<body>
  <!-- <div class="msgarea" style="visibility: visible;"> -->
  <div class="msg">
    <div class="msgarea">
      <p class="msgarea__text">更新します。<br>よろしいですか？</p>
      <button class="msgarea__okbtn">はい</button>
      <button class="msgarea__ngbtn">いいえ</button>
    </div>
  </div>
  <%- include("./common/header.ejs", {adminMenu: false, backMenu: false, backAdmin: false, backToMonth: true, id: userinfo.id}) %>
  <div class="wow fadeIn container-top">
    <form method="POST" name="timelistform" action="/admin/<%= userinfo.id %>/<%= yyyymm %>">
      <div class="area-btn">
        <p id="updatebtn" class="monthtimebtn mt-30">更新</p>
        <p id="initbtn" class="monthtimebtn mt-30">元に戻す</p>
      </div>
      <div class="area-form">
        <% if (timelist) { %>
        <div class="table-wrapper">
          <table class="table-content">
            <tr>
              <th>日付</th>
              <th>出勤時間</th>
              <th>退勤時間</th>
              <th>出勤時間<br>(修正)</th>
              <th>退勤時間<br>(修正)</th>
              <th>休憩時間</th>
              <th>賄</th>
              <th>支給時間</th>
            </tr>
            <% timelist.forEach((timeinfo) => { %>
            <% if ((timeinfo.youbi === '日') || (timeinfo.youbi === '祝')) { %>
            <tr class="bgc-red">
              <% } else if (timeinfo.youbi === '土') { %>
            <tr class="bgc-blue">
              <% } else { %>
            <tr class="bgc-normal">
              <% } %>
              <td><%= timeinfo.yyyymmdd.slice(0,4) + '/' + timeinfo.yyyymmdd.slice(4,6) + '/'  + timeinfo.yyyymmdd.slice(-2) + '(' + timeinfo.youbi + ')' %></td>
              <td><%= timeinfo.time_start?timeinfo.time_start.slice(0,2) + ':' + timeinfo.time_start.slice(2,4):'' %></td>
              <td><%= timeinfo.time_end?timeinfo.time_end.slice(0,2) + ':' + timeinfo.time_end.slice(2,4): '' %></td>
              <td><input class="startupd" type="text" name="time_start_upd" value="<%= timeinfo.time_start_upd? timeinfo.time_start_upd.slice(0,2) + ':' + timeinfo.time_start_upd.slice(-2): null  %>"></td>
              <td><input class="endupd" type="text" name="time_end_upd" value="<%= timeinfo.time_end_upd? timeinfo.time_end_upd.slice(0,2) + ':' + timeinfo.time_end_upd.slice(-2): null %>"></td>
              <td><input class="resttime" type="text" name="time_rest" value="<%= timeinfo.time_rest? timeinfo.time_rest.slice(0,2) + ':' + timeinfo.time_rest.slice(-2): null %>"></td>
              <%
                let makanaichecked = "";
                if (timeinfo.makanai === 1) {
                  makanaichecked = "checked";
                }
              %>
              <td><input class="makanai" type="checkbox" name="_makanai" value="1" <%= makanaichecked %>></td>
              <td>
                <%= timeinfo.time_pay? timeinfo.time_pay.slice(0,2) + ':' + timeinfo.time_pay.slice(-2): null %>
              </td>
              <input type="hidden" name="yyyymmdd" value="<%= timeinfo.yyyymmdd %>">
              <input type="hidden" name="time_start" value="<%= timeinfo.time_start %>">
              <input type="hidden" name="time_end" value="<%= timeinfo.time_end %>">
              <input type="hidden" name="yyyymm_seisan" value="<%= timeinfo.yyyymm_seisan %>">
              <input type="hidden" name="makanai" value="0">
            </tr>
            <% }) %>
        </div>
        </table>
        <% } %>
      </div>
      <div class="area-total">
        <div class="total-item">
          <div class="label">出勤日数</div>
          <div class="text"><%= timelist.totalpayday %></div>
        </div>
        <div class="total-item">
          <div class="label">支払時間合計</div>
          <div class="text"><%= (timelist.totalpayhh) + ':' +  (timelist.totalpaymm) %></div>
        </div>
      </div>
  </form>
  </div>
  <script>
    let updbtn = document.getElementById("updatebtn");
    updbtn.addEventListener('click', function () {
      let msg = document.getElementsByClassName("msg")[0];
      msg.style.visibility = "visible";
    });
    let okbtn = document.getElementsByClassName("msgarea__okbtn")[0];
    let ngbtn = document.getElementsByClassName("msgarea__ngbtn")[0];
    okbtn.addEventListener('click', function () {
      for (let i = 0; i < document.timelistform.makanai.length; i++) {
        if (document.timelistform._makanai[i].checked) {
          document.timelistform.makanai[i].value = 1;
        }
      }
      document.timelistform.submit();
    });
    ngbtn.addEventListener('click', function () {
      let msg = document.getElementsByClassName("msg")[0];
      msg.style.visibility = "hidden";
    });
    let initbtn = document.getElementById("initbtn");
    initbtn.addEventListener('click', function () {
      document.location.reload();
    });
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>