<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
    <div class="container-action">
        <%- include("./common/header.ejs", {addAdminMenu: false}) %>
        <form method="POST" name="timeform" action="/time/set">
            <div class="action-area">
                <div class="start-area">
                    <p id="startbtn" class="start"><%= time.starttime %></p>
                </div>
                <div class="end-area">
                    <p id="endbtn" class="end"><%= time.endtime %></p>
                </div>
                <input type="hidden" name="ymd" value="<%= ymd %>" id="ymd">
                <input type="hidden" name="starttime" value="<%= time.starttime %>">
                <input type="hidden" name="endtime" value="<%= time.endtime %>">
                <input type="hidden" name="shorikubun" value="" id="shorikubun">
                <input type="hidden" name="id" value="<%= user.id %>">
            </div>
        </form>
        <%- include("./common/back.ejs", {toAdmin: false}) %>
        <script>
            let startbtn = document.getElementById("startbtn");
            let endbtn = document.getElementById("endbtn");
            startbtn.addEventListener('click', function () {
                document.getElementById("shorikubun").value = "start";
                document.timeform.submit();
            });
            endbtn.addEventListener('click', function () {
                document.getElementById("shorikubun").value = "end";
                document.timeform.submit();
            });
            if (startbtn.innerHTML !== '出勤') {
                startbtn.classList.add("nonactive");
            };
            if ((startbtn.innerHTML === '出勤') || (endbtn.innerHTML !== '退勤')) {
                endbtn.classList.add("nonactive");
            };
        </script>
</body>

</html>