<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div>
        <form method="POST" name="timeform" action="/time/start">
            <h2><%= title + user.name %></h2>
            <div>
                <p id="startbtn"><%= time.starttime %></p>
            </div>
            <div>
                <p id="endbtn"><%= time.endtime %></p>
            </div>
            <input type="hidden" name="ymd" value="<%= ymd %>" id="ymd">
            <input type="hidden" name="starttime" value="<%= time.starttime %>">
            <input type="hidden" name="endtime" value="<%= time.endtime %>">
            <input type="hidden" name="shorikubun" value="" id="shorikubun">
            <input type="hidden" name="id" value="<%= user.id %>">
        </form>
    </div>
    <script>
        let startbtn = document.getElementById("startbtn");
        let endbtn = document.getElementById("endbtn");
        startbtn.addEventListener('click', function(){
            document.getElementById("shorikubun").value = "start";
            document.timeform.submit();
        });
        endbtn.addEventListener('click', function(){
            document.getElementById("shorikubun").value = "end";
            document.timeform.submit();
        });
    </script>
</body>

</html>