<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("./common/stylesheets.ejs", {isAdmin: false}) %>
</head>

<body>
    <%- include("./common/header.ejs", {adminMenu: false, backMenu: true, backAdmin: false, backToMonth: false, id: null}) %>
    <div class="msg">
        <div class="msgarea">
            <p class="msgarea__text">『まかない』は食べましたか？</p>
            <button class="msgarea__okbtn">はい</button>
            <button class="msgarea__ngbtn">いいえ</button>
        </div>
    </div>
    <div class="container-action">
        <form method="POST" name="timeform" action="/time/set">
            <div class="action-area">
                <div class="wow fadeIn" class="start-area">
                    <% if (user.time_start) { %>
                        <p id="startbtn" class="start nonactive"><%= user.time_start.slice(0,2) + ':' + user.time_start.slice(2,4) %></p>
                    <% } else { %>
                        <p id="startbtn" class="start">出勤</p>
                    <% } %>
                </div>
                <div class="wow fadeIn" class="end-area">
                    <% if (user.time_start) { %>
                        <% if (user.time_end) { %>
                            <p id="endbtn" class="end nonactive"><%= user.time_end.slice(0,2) + ':' + user.time_end.slice(2,4) %></p>
                        <% } else { %>
                            <p id="endbtn" class="end">退勤</p>
                        <% } %>
                    <% } else { %>
                        <p id="endbtn" class="end nonactive">退勤</p>
                    <% } %>
                </div>
                <input type="hidden" name="yyyymmdd" value="<%= yyyymmdd %>" id="yyyymmdd">
                <input type="hidden" name="time_start" value="<%= user.time_start %>">
                <input type="hidden" name="time_end" value="<%= user.time_end %>">
                <input type="hidden" name="shorikubun" value="" id="shorikubun">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="hidden" name="kubun" id="kubun" value="<%= user.kubun %>">
                <input type="hidden" name="makanai" id="makanai" value="">
            </div>
        </form>
        <div class="rireki-area wow fadeIn">
            <% if (timelist.length !== 0) { %>
                <p id="rireki-btn" class="rireki-btn">勤怠履歴表示</p>
                <div id="rireki-area" class="rireki-table-wrapper">
                    <% timelist.forEach((timeinfo) => { %>
                        <%  let youbiclassname;
                            let iconmakanai;
                            if ((timeinfo.youbi === '日') || (timeinfo.youbi === '祝')) { 
                                youbiclassname = "box-color-red";
                                iconmakanai = "icon-makanai-red"
                            } else if (timeinfo.youbi === '土') {
                                youbiclassname = "box-color-blue";
                                iconmakanai = "icon-makanai-blue"
                            } else {
                                youbiclassname="box-color-normal"
                                iconmakanai = "icon-makanai-normal"
                            }
                        %>
                        <div class="rireki-box <%= youbiclassname %>">
                            <p class="rireki-box-title"><%= timeinfo.yyyymmdd.slice(0,4) + '.' + timeinfo.yyyymmdd.slice(4,6) + '.'  + timeinfo.yyyymmdd.slice(-2) + ' (' + timeinfo.youbi + ')' %></p>
                            <p class="rireki-box-time"><%= timeinfo.time_start?timeinfo.time_start.slice(0,2) + ':' + timeinfo.time_start.slice(2,4):'' %> - <%= timeinfo.time_end?timeinfo.time_end.slice(0,2) + ':' + timeinfo.time_end.slice(2,4): '' %>
                            <% if (timeinfo.makanai!==1) { %>
                                <div class="<%= iconmakanai %>">
                                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 25px; height: 25px; opacity: 1;" xml:space="preserve">
                                        <g>
                                            <path class="st0" d="M203.364,2.333c-11.788,0-19.73,9.352-19.73,20.873v99.422c0,11.306-5.814,16.714-14.728,16.714
                                                c-8.142,0-12.945-6.717-12.945-14.692L155.517,21.37C155.517,8.338,144.144,0,133.59,0c-10.558,0-21.926,8.338-21.926,21.37V124.65
                                                c0,7.976-5.252,14.692-13.395,14.692c-8.903,0-14.721-5.408-14.721-16.714V23.206c0-11.521-7.943-20.873-19.731-20.873
                                                c-11.797,0.02-18.08,10.173-19.359,20.131c-1.279,9.967-7.825,81.147-8.542,126.64c-0.727,45.504,31.216,72.117,49.414,80.571
                                                c12.442,5.779,21.448,18.207,21.448,33.154L99.334,512h68.509l-7.444-249.171c0-14.946,9-27.374,21.443-33.154
                                                c18.202-8.454,50.146-35.067,49.423-80.571c-0.722-45.493-7.258-116.673-8.547-126.64C221.434,12.506,215.157,2.353,203.364,2.333z
                                                "></path>
                                            <path class="st0" d="M378.422,3.935c-47.398,0-97.68,50.57-97.68,130.008c0,45.504,34.389,82.446,49.424,95.732
                                                c14.702,13.004,21.448,18.207,21.448,33.154L344.17,512h68.509l-7.449-249.171c0-14.946,6.756-20.15,21.458-33.154
                                                c15.014-13.287,49.408-50.228,49.408-95.732C476.097,54.505,425.82,3.935,378.422,3.935z"></path>
                                        </g>
                                    </svg>
                                </div>
                            <% } %>
                            </p>
                        </div>
                    <% }) %>
                </div>
            </div>        
        <% } %>
    </div>

    <script>

        let rirekibtn = document.getElementById("rireki-btn");
        let rirekiarea = document.getElementById("rireki-area");
        if (rirekiarea) {
            rirekiarea.style.visibility = "hidden";
        }
        if (rirekibtn) {
            rirekibtn.addEventListener('click', () => {
            rirekiarea.style.visibility = "visible";
            rirekibtn.style.display = "none";
            })
        }

        let okbtn = document.getElementsByClassName("msgarea__okbtn")[0];
        okbtn.addEventListener('click', () => {
            document.getElementById("makanai").value = "1";
            document.timeform.action = "/time/set";
            document.timeform.submit();
        });

        let ngbtn = document.getElementsByClassName("msgarea__ngbtn")[0];
        ngbtn.addEventListener('click', () => {
            document.getElementById("makanai").value = "0";
            document.timeform.action = "/time/set";
            document.timeform.submit();
        });

        let startbtn = document.getElementById("startbtn");
        let endbtn = document.getElementById("endbtn");
        startbtn.addEventListener('click', () => {
            document.getElementById("shorikubun").value = "start";
            document.timeform.submit();
        });
        endbtn.addEventListener('click', () => {
            document.getElementById("shorikubun").value = "end";
            if (document.getElementById("kubun").value === '2') {
                scrollTo(0, 0);
                let msg = document.getElementsByClassName("msg")[0];
                msg.style.visibility = "visible";
            } else {
                document.timeform.action = "/time/set";
                document.timeform.submit();
            }
        });
        // if (startbtn.innerHTML !== '出勤') {
        //     startbtn.classList.add("nonactive");
        // };
        // if ((startbtn.innerHTML === '出勤') || (endbtn.innerHTML !== '退勤')) {
        //     endbtn.classList.add("nonactive");
        // };
    </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>